<% provide(:title, "About") %>
<h1>Project Information</h1>

<div style="height: 30px; clear: both;"></div>

<p>Project Supervisor: Francois Bouffard</p>
<div style="height: 20px; clear: both;"></div>
<p>Project Team

  <ul>
    <li>Michael Milicevich</li>
    <li>Hans Zhang</li>
    <li>Irtaza Rizvi</li>
    <li>Daniel Sayek</li>
  </ul>

</p>

<div style="height: 265px; clear: both;"></div>
