<% provide(:title, "About") %>

<h1>Project Team and Motivation</h1>
<div style="font-size:medium;">
  <div style="height: 10px; clear: both;"></div>

This web application is the final design project of group 20 for ECSE 457, Design Project II. Our supervisor is Francois Bouffard, and our
  project team consists of: Michael Milicevich, Irtaza Rizvi, Hans Zhang and Daniel Sayek. This project would not be
  without the mentorship of last year's project group, Christopher Tegho and Fiona Yuan.
  <br><br>
  Our web application is intended as a proof of concept that a web-based power disaggregation system can be feasible to
  implement. The original plan for the project was to install or receive real-time power usage data from the McGill
  University Rutherford Physics building- however, these plans fell through due to cost and time constraints and as a
  result our group made the decision to showcase the same functionality on a static dataset. It is our hope that this
  project can be continued on in the following semesters, this time utilizing our disaggregation application to run
  on real-time McGill university building data.
  <br><br>
 <b>Project Resources:</b><br>
  Disaggregation Algorithms and Toolkit: <a href="http://nilmtk.github.io/">Non-Intrusive Load-Monitoring Toolkit (NILMTK) </a><br>
  Energy Usage Dataset:  <a href="http://redd.csail.mit.edu/">Reference Energy Disaggregation Dataset (REDD)</a>

</div>


<div style="height: 50px; clear: both;"></div>
