<% provide(:title, "About") %>

<div style="">
  <h1> Project Team</h1>
  <div style="height: 200px; clear: both;"></div>
</div>

<div style="">
  <h1> Project Motivation</h1>
  <div style="height: 200px; clear: both;"></div>
</div>

<div style="">
  <h1> Disaggregation Theory and Algorithms</h1>
  <div style="height: 200px; clear: both;"></div>
</div>

<div style="">
  <h1> Evaluation Metrics and Accuracy</h1>
  <div style="height: 200px; clear: both;"></div>
</div>

<div style="">
  <h1> Special Thanks</h1>
  <div style="height: 200px; clear: both;"></div>
</div>


<div style="height: 50px; clear: both;"></div>
