<% provide(:title, "Home") %>

<div class="center">

  <h1>Energy Management through Power Disaggregation</h1>

  <div style="height: 30px; clear: both;"></div>

  <h2>This is the home page for the design project of Group 20 in ECSE 457.</h2>

  <body>

  <h5>REDD Building</h5>
  <select>
    <option>Building A</option>
    <option>Building B</option>
    <option>Building C</option>
    <option>Building D</option>
  </select>

  <h5>Disaggregated Appliance</h5>

  <select>
  <option>Appliance A</option>
  <option>Appliance B</option>
  <option>Appliance C</option>
  <option>Appliance D</option>
  </select>

  <h5>Start Date</h5>

  <select>
    <option>Example Start Date 1</option>
    <option>Example Start Date 1</option>
    <option>Example Start Date 1</option>
    <option>Example Start Date 1</option>
  </select>

  <h5>End Date</h5>

  <select>
    <option>Example End Date 1</option>
    <option>Example End Date 1</option>
    <option>Example End Date 1</option>
    <option>Example End Date 1</option>
  </select>

<p></p>
  <img src="https://dl-web.dropbox.com/get/Screenshots/Screenshot%202015-03-09%2023.41.39.png?_subject_uid=48635194&w=AAAh9lyinMx7vuIS1rk5mrioCoi9t3m_hnDKUElZkK7bHg" />

  <div style="height: 400px; clear: both;"></div>

  </body>

</div>