<% provide(:title, "Home") %>

<div class="center">

  <h1>Energy Management through Power Disaggregation</h1>

  <div style="height: 30px; clear: both;"></div>

  <h2>This is the home page for the design project of Group 20 in ECSE 457.</h2>

  <%= column_chart({"ABC" => 5, "LMN" => 4, "XYZ" => 7}) %>

  <body>


    <div style="height: 400px; clear: both;"></div>


  </body>

</div>