<% provide(:title, "Home") %>

<div id = 'wrap'>

<div class="center">

  <h1>Energy Management through Power Disaggregation</h1>

  <div style="height: 30px; clear: both;"></div>

  <h2>This is the home page for the design project of Group 20 in ECSE 457.</h2>

  <body>



    <div id="charts">
      <%= area_chart(@mains_small, {library:{hAxis:{title:"Time"}, vAxis:{title:"Apparent Power [VA]"}, title:"Building Mains Power"}} )%>

      <%= area_chart({"1/1/2015" => 0, "2/1/2015" => 10, "3/1/2015" => 2},
                     {library:{hAxis:{title:"Time"}, vAxis:{title:"Apparent Power [VA]"}, title:"Disaggregated Appliance Power"}} )%>
    </div>

    <div id = "input_form">

      <div style="height: 50px; clear: both;"></div>
      <form>
        Appliance:&nbsp;
        <select name="appliance">
          <option value = "fridge">Fridge</option>
          <option value = "dish washer">Dish Washer</option>
          <option value = "sockets1">Sockets (1)</option>
          <option value = "sockets2">Sockets (2)</option>
          <option value = "light1">Lights (1)</option>
          <option value = "light2">Lights(2)</option>
          <option value = "microwave">Microwave</option>
          <option value = "electric space heater">Electric Space Heater</option>
          <option value = "electric stove">Electric Oven</option>
          <option value = "sockets3">Sockets (3)</option>
          <option value = "sockets4">Sockets (4)</option>
          <option value = "light2">Lights (3)</option>
          <option value = "light3">Lights (4)</option>
          <option value = "washer dryer">Washer Dryer</option>
          <option value = "electric oven">Electric Oven</option>
        </select>
        <br>
        <br>
        Start Time:
        <input type="datetime" name ="tstart">
        <br>
        <br>
        End Time:&nbsp;
        <input type="datetime" name="tend">
        <br>
        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input type="submit" value="Submit">

      </form>


    </div>

    <div style="height: 10px; clear: both;"></div>

  </body>

</div>

</div>