<% provide(:title, "Home") %>

<div class="center">

  <h1>Energy Management through Power Disaggregation</h1>

  <h2>This is the home page for the design project of Group 20 in ECSE 457.</h2>

</div>