
<div id="wrap">

  <h1>ECSE 457 Design Project Group 20: Energy Management Through Power Disaggregation</h1>

  <div style= "height: 80px; clear: both;"></div>

    <div class = "center">

        <div id = "top_wrap">

            <div id="left_wrap">

            </div>


            <div id="right_wrap">
              <figure>
                <img src="assets/hart.png",style="width: 659px ,height: 358px;">
                <figcaption style="text-align: right; text-indent: 70px;">Individual appliance load contributions on an aggregate power signal (Hart, 1992)</figcaption>
              </figure>
            </div>

          <div style= "height: 50px; clear: both;"></div>

        </div>


        <%= render 'form' %>


    </div>
</div>


