<footer class="footer">
  <small>
    Energy Management Through Power Disaggregation | ECSE 457 Group 20 Design Project
  </small>

  <nav>
    <ul>
      <li><%= link_to "Home", "#" %></li>
      <li><%= link_to "About", "#" %></li>
    </ul>
  </nav>
</footer>