<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "McGill Energy Management", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     "#", id: "home_link"  %></li>
        <li><%= link_to "About",    "#", id: "about_link"  %></li>
      </ul>
    </nav>
  </div>
</header>